@import url('../logo/logo.css');
@import url('../rotation/rotation.css');

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo_place_header {
  background-image: url('../../images/logo.svg');
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  position: relative;
  left: 64px;
  margin: 0;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  margin: 0;
  left: 64px;
  bottom: 30px;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-35deg);
}
