@import url('../section-title/section-title.css');
@import url('../section-subtitle/section-subtitle.css');

.technics {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;
  margin: 0 auto;
  align-items: center;
}

.cards {
  min-width: 920px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-column-gap: 100px;
  grid-row-gap: 0;
  grid-template-columns: repeat(auto-fill, 240px);
}

.cards__item {
  text-align: center;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 0;
}

/*Вариант через flexbox*/
/*
.cards {
  width: 920px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  text-align: center;
  margin-right: 100px;
}

.cards__item:nth-of-type(3), .cards__item:last-of-type {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 0;
}
*/
